.photoAboutUs {
  width: 100%;
  padding: 10px;
  object-fit: cover;
}
.contenedor {
  width: 340px;
}
.iconAboutUs {
  width: 30px;
}
.redesAboutUs {
  color: black;
}

.redesAboutUs:hover {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
}
