.photoAboutUs {
  width: 100%;
  padding: 10px;
  object-fit: cover;
}
.contenedor {
  /* width: 340px; */
}
.iconAboutUs {
  width: 30px;
}
.redesAboutUs {
  color: black;
}

.redesAboutUs:hover {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
}

/* .cardAboutUs {
  opacity: 0.5;
  transition: opacity 1s ease 0s;
}
.cardAboutUs:hover {
  opacity: 2;
  transform: translate(0px, -20px);
  transition: transform 1s;
} */
