:root {
  --primary: #046ec8;
  --primary-text: #eee;
  --secondary: #92f3ef;
  --secondary-text: #333;
  --unit: 8px;
  --typeface: "Segoe UI", Lato, Verdana, sans-serif;
  --hideLabelText: "- less";
  --showLabelText: "+ more";
  --removeLabelText: "x";
}

.containerCart {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #999;
  border-radius: 30px;
  /* box-shadow: 5px 10px; */
}
.item {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1.5rem 0;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid gainsboro;
}
.item--description {
  margin-bottom: 0.5rem;
}
.item--controls {
  position: absolute;
  top: 0;
  right: 0;
}
.chargelist {
  margin-left: 1rem;
}
.chargetotal {
  display: flex;
  justify-content: space-between;
  line-height: 1.5rem;
  margin-top: 0.5rem;
}
.chargetotal--description {
  flex: 1 0 auto;
}
.chargetotal--amount {
  margin-left: 0.5rem;
}
.charge {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.25rem;
  padding-bottom: 1rem;
}
.charge-tax {
  color: #555;
}
.charge-service {
  color: #555;
}
.charge--description {
  flex: 1 0 auto;
}
.charge--amount {
  margin-left: 0.5rem;
}
.controlset {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}
.controlset > * {
  flex: 1 0 auto;
}
.controlset input[type="text"] {
  margin-right: 0.5rem;
  line-height: 1.2rem;
}
.button {
  border-radius: 0.5rem;
  border: none;
  line-height: 1.5rem;
}
.button--primary {
  background-color: rgb(109, 107, 107);
  /* margin-top: 5px; */
  border-radius: 25px;
  text-align: center;
  color: antiquewhite;
}
.button--primary:hover {
  color: antiquewhite;
}
.button--secondary {
  background-color: white;
  border-radius: 25px;
}
.toggle-label {
  color: var(--primary, blue);
  cursor: pointer;
}
[for^="itemremove"]::after {
  content: var(--removeLabelText, "x");
}
.showhidelabel::after {
  content: var(--hideLabelText, "Hide");
}
.showhideflag {
  display: none;
}
.showhideflag:checked ~ .showhidetarget {
  display: none;
}
.showhideflag:checked ~ .showhidelabel::after {
  content: var(--showLabelText, "Details");
}
.remove-item {
  display: none;
}
.remove-item:checked + .item {
  display: none;
}

.cart-title,
.subtotal-container {
  border-bottom: 1px solid gainsboro;
  padding-bottom: 1.5rem;
}

.img-thumbnail {
  width: 20%;
}

.article-name {
  width: 250px;
  text-align: center;
}

.article-price {
  width: 82px;
  text-align: center;
}

.article-quantity-container {
  width: 140px;
}

.article-total {
  width: 100px;
  text-align: center;
}

/*SUBTOTAL CARD*/

#confirmBtn:hover,
.btn:hover {
  background-color: white;
  color: black;
}

/*LOADING ANIMATION STYLES*/

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

/*PLACED ORDER */

.body {
  overflow: hidden;
}
.column {
  float: left;
}
.half {
  width: 35%;
}
.last {
  float: right;
  width: 65%;
}

.flex-element {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  justify-content: center;
  align-items: start;
}

.flex-interior-element {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  align-items: start;
  justify-content: space-between;
}

.bg-image {
  height: 100%;
}

.summary-element {
  margin: 1rem 0;
  padding-left: 2rem;
}

.back-to-home {
  float: left;
  margin: 2rem 0 1rem 0;
}

@media only screen and (max-width: 780px) {
  .item {
    display: flex;
    flex-direction: column;
    flex-flow: column;
  }

  .img-thumbnail {
    width: 75%;
    margin: 1rem 0;
  }

  .interior-row {
    width: 250px;
    margin: 1rem 0;
  }

  .article-price {
    width: 25%;
  }

  .article-quantity-container {
    width: 50%;
  }

  .article-total {
    font-size: x-large;
  }

  .delete-article-btn {
    position: absolute;
    top: 0rem;
    right: 0rem;
  }

  .half {
    width: 100%;
  }
  .last {
    width: 100%;
  }

  .flex-element {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .summary-element {
    margin: 1rem 0;
    padding-left: 1rem;
  }
}
