.buttonUs {
  position: fixed;
  right: 0;
  bottom: 50%;
  border-radius: 4px;
  background-color: red;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  /* width: 100px; */
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  z-index: 1000;
}
.buttonUs span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;

  /* text-orientation: upright;
  writing-mode: vertical-rl; */
}
.buttonUs:hover {
  background-color: black;
  color: red;
}
.buttonUs span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  /* text-align: center; */
}
.buttonUs:hover span {
  padding-right: 25px;
}
.buttonUs:hover span:after {
  opacity: 1;
  right: 0;
}

.photoAboutUsmodal {
  width: 160px;
  padding: 10px;
  object-fit: cover;
  border-radius: 30px;
}
.logoModalAboutUs {
  width: 280px;
}
.contenedorModal {
  margin-left: -60px;
}
.modalul {
  list-style-type: square;
}

.linkOffcanvasModal {
  background-color: white;
  margin-top: 5px;
  text-align: center;
  color: black;
  font-size: 30px;
  border: 1px black solid;
}
.linkOffcanvasModal:hover {
  color: white;
  background-color: black;

  border: 3px black solid;
}

.iconAboutUsModal {
  filter: grayscale();

  width: 40px;
}
.iconAboutUsModal:hover {
  width: 40px;
  filter: none;

  /* border: black 1px solid; */
}
.redesAboutUsModal {
  font-size: 13px;
  color: black;
}
.modalDatos {
  margin-left: 0px;
  padding-left: 10px;
  padding-right: 0px;
}
.listaModal {
  padding-left: 5px;
}
.tituloModal {
  font-weight: 300px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
