.buttonUs {
  position: fixed;
  right: 0;
  bottom: 50%;
  border-radius: 4px;
  background-color: red;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  /* width: 100px; */
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.buttonUs span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;

  /* text-orientation: upright;
  writing-mode: vertical-rl; */
}
.buttonUs:hover {
  background-color: black;
  color: red;
}
.buttonUs span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  /* text-align: center; */
}
.buttonUs:hover span {
  padding-right: 25px;
}
.buttonUs:hover span:after {
  opacity: 1;
  right: 0;
}

.photoAboutUsmodal {
  width: 160px;
  padding: 10px;
  object-fit: cover;
}
.logoModalAboutUs {
  width: 280px;
}
.contenedorModal {
  margin-left: -60px;
}
.modalul {
  list-style-type: square;
}

.linkOffcanvasModal {
  background-color: white;
  margin-top: 5px;
  text-align: center;
  color: black;
  font-size: 30px;
}
.linkOffcanvasModal:hover {
  color: black;
  border: 3px black solid;
}

.iconAboutUsModal {
  width: 20px;
}
.redesAboutUsModal {
  font-size: 13px;
  color: black;
}
.modalDatos {
  margin-left: 0px;
  padding-left: 10px;
  padding-right: 0px;
}
.listaModal {
  padding-left: 5px;
}
.tituloModal {
  font-weight: 300px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.tituloModal {
  opacity: 0;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation: letter 5s infinite cubic-bezier(0, 0, 0.1, 1);
  animation: letter 5s infinite cubic-bezier(0, 0, 0.1, 1); /* Note: Remove the "infinite" prop to make the text disappear, or remplace "infinite" with "" to do the text stay uppon animation*/
}
@-webkit-keyframes letter {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  30%,
  80% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes letter {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  30%,
  80% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.animated-text-enter:nth-of-type(1) {
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
}
.animated-text-enter:nth-of-type(2) {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.animated-text-enter:nth-of-type(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.animated-text-enter:nth-of-type(4) {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
.animatedclass:nth-of-type(5) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.animated-text-enter:nth-of-type(6) {
  -webkit-animation-delay: 0.35s;
  animation-delay: 0.35s;
}
