.navContainer {
  background-color: rgb(236, 235, 234);
}
.navBarImg {
  width: 210px;
}
/* 
@media (min-width: 1200px) {
  .ButtonMenu {
    display: none;
  }
}
@media (max-width: 1200px) {
  .linkMenu {
    display: none;
  }
} */
.linkMenu {
  color: black;
  font-size: 20px;
}

.carrito {
  color: black;
  font-size: 20px;
  padding: 0px;
}
.linkOffcanvas {
  margin-top: 5px;
  /* border-radius: 25px; */
  text-align: center;
  color: black;
}
.linkOffcanvas:hover {
  background-color: white;
  color: red;
}
.linkMenu:hover {
  color: black;
}

@media (max-width: 1200px) {
  .containerLogo {
    margin-left: 40px;
  }
}
.cartHover:hover {
  color: black;
}
