.navBarImg {
  width: 50%;
  border: none;
}
/* 
@media (min-width: 1200px) {
  .ButtonMenu {
    display: none;
  }
}
@media (max-width: 1200px) {
  .linkMenu {
    display: none;
  }
} */
.linkMenu {
  color: black;
  font-size: 20px;
}

.side-menu-btn {
  color: black;
  text-align: center;
  width: 100%;

  border: none;
}

.bg-hack-grey {
  background-color: rgb(236, 235, 234);
}

.side-menu-btn:hover {
  background-color: rgb(220, 220, 220);
}

.carrito {
  color: black;
  font-size: 20px;
  padding: 0px;
}

.carrito:hover {
  color: black;
}
.linkOffcanvas {
  margin-top: 5px;
  /* border-radius: 25px; */
  text-align: center;
  color: black;
}
.linkOffcanvas:hover {
  background-color: white;
  color: red;
}
.linkMenu:hover {
  color: black;
}

.navContainer {
  flex-direction: row;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 1200px) {
  .containerLogo {
    margin-left: 40px;
  }
}
.cartHover:hover {
  color: black;
}
.linkMenuDropDown:focus {
  background-color: white;
}
