p {
  margin-bottom: 0%;
  margin-right: 0.5rem;
}

.form_color {
  background-color: rgb(236, 235, 234);
}

.float {
  position: relative;
  animation: floatBubble 2s inifnate;
}

@keyframes floatBubble {
  0% {
    top: 0;
    -webkit-animation-timing-function: ease-in;
  }

  100% {
    top: 500px;
    animation-timing-function: ease-out;
  }
}
