.article-image {
  width: 85%;
}

.article-info-container {
  width: 75%;
}
.product-name-container {
  width: 60%;
}

.product-name {
  font-size: 3rem;
  letter-spacing: 0.3rem;
}

@media only screen and (max-width: 800px) {
  .article-image {
    width: 100%;
  }

  .article-info-container {
    width: 100%;
  }
  .product-name-container {
    width: 100%;
  }

  .product-name {
    font-size: 2rem;
  }
}

.separator {
  opacity: 1;
}

.article-qty-container {
  background-color: rgb(236, 235, 234);
  border: 1px solid black;
  height: 95%;
}

.article-qty {
  background-color: rgb(236, 235, 234);
  border: none;
  text-align: center;
}

.article-qty:focus {
  background-color: rgb(236, 235, 234);
  box-shadow: none;
}

.plus-minus-btn {
  background-color: rgb(236, 235, 234);
  color: black;
  border: 1px solid black;
  border-radius: 0;
}

.plus-minus-btn:hover {
  background-color: black;
  color: rgb(236, 235, 234);
}
