.article-image {
  width: 85%;
}

.article-info-container {
  width: 75%;
}
.product-name-container {
  width: 60%;
}

.product-name {
  font-size: 3rem;
  letter-spacing: 0.3rem;
}

@media only screen and (max-width: 800px) {
  .article-image {
    width: 100%;
  }

  .article-info-container {
    width: 100%;
  }
  .product-name-container {
    width: 100%;
  }

  .product-name {
    font-size: 2rem;
  }
}

.separator {
  opacity: 1;
}
.inputquantity {
  width: 30px;
}
.article-qty-container {
  background-color: rgb(236, 235, 234);
  border: 1px solid black;
  /* height: 95%; */
  justify-content: center;
  margin-bottom: 10px;
}

.article-qty {
  background-color: rgb(236, 235, 234);
  border: none;
  text-align: center;
  width: 80%;
}

.article-qty:focus {
  background-color: rgb(236, 235, 234);
  box-shadow: none;
}

.plus-minus-btn {
  background-color: rgb(109, 107, 107);
  /* margin-top: 5px; */
  border-radius: 25px;
  text-align: center;
  color: antiquewhite;
  border: none;
}

.plus-minus-btn:hover,
.plus-minus-btn:active {
  background-color: rgb(109, 107, 107);
  color: rgb(236, 235, 234);
  border: none;
  box-shadow: none;
}

.to-cart-btn {
  background-color: rgb(109, 107, 107);
  /* margin-top: 5px; */
  border-radius: 25px;
  text-align: center;
  color: antiquewhite;
}
